html {
  --white: #ffffff;
  --dark: #161616;

  --primary: #ffd000;
  --secondary: #002acc;

  --sucess: green;
  --warning: orange;
  --error: red;

  --grey-000: #ffffff;
  --grey-100: #f5f5f5;
  --grey-200: #e9e9e9;
  --grey-300: #cccccc;
  --grey-400: #bdbdbd;
  --grey-500: #999999;
  --grey-600: #666666;
  --grey-700: #333333;
  --grey-800: #252525;
  --grey-900: #161616;

  --light-grey: #b6b6b6;
  --grey: #969696;
  --dark-grey: #525252;

  --text-color: var(--dark);
  --text-color-contrast: var(--white);
  --text-color-heading: var(--dark);
  --bg-color: var(--white);
  --bg-color-contrast: var(--dark);
  --font-primary: "Sen", sans-serif;
  --font-secondary: "Montserrat", serif;

  --breakpoint-m: 1200px;
  --breakpoint-s: 600px;

  --space-unit: 1em;
  --xxs: calc(0.25 * var(--space-unit));
  --xs: calc(0.5 * var(--space-unit));
  --sm: calc(0.75 * var(--space-unit));
  --md: calc(1.25 * var(--space-unit));
  --lg: calc(2 * var(--space-unit));
  --xl: calc(3.25 * var(--space-unit));
  --xxl: calc(5.25 * var(--space-unit));

  --text-base-size: 1em;
  --text-scale-ratio: 0.8;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-s: calc(1em / var(--text-scale-ratio));
  --text-m: calc(1em * var(--text-scale-ratio));
  --text-l: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );

  --heading-line-height: 1.2;
  --body-line-height: 1.4;
}

@media (min-width: 600px) {
  html {
    --heading-line-height: 1.5;
    --space-unit: 1.25em;
    --text-base-size: 1.25em;
    --text-scale-ratio: 1;
  }
}

@media (min-width: 1200px) {
  html {
    --heading-line-height: 2;
    --space-unit: 1.5em;
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color-heading: var(--primary);
    --text-color: var(--white);
    --text-color-contrast: var(--dark);
    --bg-color: var(--dark);
    --bg-color-contrast: var(--white);
  }
}

/********************* BUTTON *********************/
html {
  --light-primary: #ffe366;
  --btn-border-radius: 8px;
  --btn-padding-horizontal: 14px;
  --btn-padding-vertical: 12px;
  --btn-bg-color-disabled: var(--grey-300);
  --btn-border-disabled: solid 1px var(--grey-300);
  --btn-text-weight: 600;
  --btn-text-color-active: var(--dark);
  --btn-text-color-disabled: var(--grey-600);

  --btn-bg-color-primary: var(--primary);
  --btn-bg-color-primary-hover: var(--light-primary);
  --btn-bg-color-primary-active: var(--white);
  --btn-text-color-primary: var(--dark);
  --btn-border-primary: solid 1px var(--primary);
  --btn-border-primary-focus: solid 1px var(--dark);

  --btn-bg-color-secondary: transparent;
  --btn-bg-color-secondary-hover: var(--light-primary);
  --btn-bg-color-secondary-active: var(--white);
  --btn-text-color-secondary: var(--primary);
  --btn-text-color-secondary-hover: var(--dark);
  --btn-border-secondary: solid 1px var(--primary);
  --btn-border-secondary-hover: solid 1px var(--light-primary);
  --btn-border-secondary-active: solid 1px var(--white);
}
@media (prefers-color-scheme: dark) {
  html {
  }
}

/********************* CARD *********************/
html {
  --card-boxShadow: 1px 1px 10px 1px #ffd0009d;
  --card-background: #f4f0e9;
  --card-radius: 4px;
}
@media (prefers-color-scheme: dark) {
  html {
    --card-boxShadow: 1px 1px 10px 1px #52d1cbbe;
    --card-background: var(--dark-grey);
  }
}
