html {
  --white: white;
  --dark: #1f1f1f;

  --primary: #52d1ca;
  --secondary: #ffd000;

  --sucess: green;
  --warning: orange;
  --error: red;

  --light-grey: #b6b6b6;
  --grey: #969696;
  --dark-grey: #525252;

  --text-color: var(--dark);
  --text-color-contrast: var(--white);
  --text-color-heading: var(--dark);
  --background-color: var(--white);
  --background-color-contrast: var(--dark);
  --font-primary: "Sen", sans-serif;
  --font-secondary: "Roboto Slab", serif;

  --breakpoint-m: 1200px;
  --breakpoint-s: 600px;

  --space-unit: 1em;
  --xxs: calc(0.25 * var(--space-unit));
  --xs: calc(0.5 * var(--space-unit));
  --sm: calc(0.75 * var(--space-unit));
  --md: calc(1.25 * var(--space-unit));
  --lg: calc(2 * var(--space-unit));
  --xl: calc(3.25 * var(--space-unit));
  --xxl: calc(5.25 * var(--space-unit));

  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-s: calc(1em / var(--text-scale-ratio));
  --text-m: calc(1em * var(--text-scale-ratio));
  --text-l: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );

  --heading-line-height: 1.2;
  --body-line-height: 1.4;
}

@media (min-width: 600px) {
  html {
    --heading-line-height: 1.5;
    --space-unit: 1.25em;
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

@media (min-width: 1200px) {
  html {
    --heading-line-height: 2;
    --space-unit: 1.5em;
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color-heading: var(--primary);
    --text-color: var(--white);
    --text-color-contrast: var(--dark);
    --background-color: var(--dark);
    --background-color-contrast: var(--white);
  }
}
